<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>CXF</servlet-name>
        <servlet-class>org.apache.cxf.cdi.CXFCdiServlet</servlet-class>
        <!-- with this commented out, services wont work -->
        <init-param>
            <param-name>transportId</param-name>
            <param-value>http://cxf.apache.org/transports/http/sse</param-value>
        </init-param>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXF</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>